{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
        "last 2 Chrome versions",
        ]
      }
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
